{% extends "base.html" %}

{% block content %}

<style>
.lab_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 100px;  Adjust this value to move the header more or less to the right */
  }

</style>
<div class="lab_nav">
<div class="col-md-10">
    <br>
    <h1> Robotics Lab Inventory </h1>
   

   
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
        <a type="button" class="btn btn-outline-secondary" href="{% url 'sparkfun' %}" >Sparkfun Kits</a>
        <a type="button" class="btn btn-outline-secondary" href="{% url 'alienware' %}" >Alienware Laptops</a>
        <a type="button" class="btn btn-outline-secondary" href="{% url 'teacherpack' %}" >Teacher iPads</a>
        <a type="button" class="btn btn-outline-secondary" href="{% url 'spheros' %}" >Spheros</a>
        <a type="button" class="btn btn-outline-secondary" href="{% url 'spheros' %}" >Spheros</a>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block content1 %}

{% endblock %}